@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-key: #f96e5b;
  --font-serif: var(--font-gowoon-serif);
  --font-kalnia: var(--font-kalnia-serif);
  --font-gloock: var(--font-gloock-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  .notion-page {
    color: #ededed !important;
  }
  .notion-asset-caption {
    color: #94a3b7 !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (width >= 80rem) {
  .notion-page {
    margin: 0 !important;
    width: 100% !important;
    max-width: none !important;
  }
}
@media (width >= 40rem) {
  .notion-page {
    margin: 0 !important;
    width: calc((3 / 4) * 100%) !important;
    max-width: none !important;
  }
}
